@model System.Collections.Generic.List<MiniHbys.Entity.MedicalOperation>
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewBag.Title = "Medical Operations";
    Layout = "_Layout";
}

<div style="float: right; padding: 20px;">
    @Html.ActionLink("Create", actionName: "Create", controllerName: "MedicalOperation", null,
        htmlAttributes: new { @class = "btn btn-success" })
</div>
<table class="table">
    <tr>
        <th>Medical Operation Date</th>
        <th>Notes</th>
    </tr>

    @foreach (var medicalOperation in Model)
    {
        <tr>
            <td>
                @medicalOperation.MedicalOperationDate
            </td>
            <td>
                @medicalOperation.Notes
            </td>
            <td>
                @if (HttpContextAccessor.HttpContext.Session.GetInt32("MedicalOperationWriteAccess") == 1 || HttpContextAccessor.HttpContext.Session.GetInt32("IsSuperAdmin") == 1)
                {
                    @Html.ActionLink("Detail", actionName: "Detail", controllerName: "MedicalOperation", new { id = medicalOperation.MedicalOperationID },
                        htmlAttributes: new { @class = "btn btn-primary action-button" })
                    @Html.ActionLink("Edit", actionName: "Edit", controllerName: "MedicalOperation", new { id = medicalOperation.MedicalOperationID },
                        htmlAttributes: new { @class = "btn btn-info action-button" })
                    @Html.ActionLink("Delete", actionName: "Delete", controllerName: "MedicalOperation", new { id = medicalOperation.MedicalOperationID },
                        htmlAttributes: new { @class = "btn btn-danger action-button" })
                }
            </td>
        </tr>
    }
</table>