@using MiniHbys.Entity
@model MiniHbys.Entity.MedicineItem

@{
    ViewBag.Title = "Edit Medicine Item";
    Layout = "_Layout";

    var inspections = (List<Inspection>)ViewBag.Inspections;
    var patients = (List<Patient>)ViewBag.Patients;

    var inspectionSelectListItems = new List<SelectListItem>();
    var patientSelectListItems = new List<SelectListItem>();

    foreach (var inspection in inspections)
    {
        var inspectionText = string.Format("{0}-{1} {2}", inspection.InspectionDate, inspection.Doctor.DoctorName,
            inspection.Doctor.DoctorSurname);
        inspectionSelectListItems.Add(new SelectListItem(text: inspectionText, value: inspection.InspectionID.ToString()));
    }

    foreach (var patient in patients)
    {
        var patientFullName = string.Format("{0} {1}", patient.PatientName, patient.PatientSurname);
        patientSelectListItems.Add(new SelectListItem(text: patientFullName, value: patient.PatientID.ToString()));
    }
}

@using (Html.BeginForm(actionName: "Edit", controllerName: "MedicineItem", routeValues: null, method: FormMethod.Post))
{
    @Html.HiddenFor(x => x.MedicineItemID)
    <div class="content" style="padding: 20px">
        <div class="form-group">
            @Html.TextBoxFor(x => x.MedicineName, htmlAttributes: new
            {
                @class = "form-control", placeholder =
                    "Medicine Name"
            })
        </div>
        <strong>Inspection(Date-Doctor Name)</strong>
        <div class="form-group">
            @Html.DropDownListFor(x => x.InspectionID, inspectionSelectListItems, htmlAttributes: new
            {
                @class = "form-control",
                placeholder = "Inspection"
            })
        </div>
        <strong>Patient</strong>
        <div class="form-group">
            @Html.DropDownListFor(x => x.PatientID, patientSelectListItems, htmlAttributes: new
            {
                @class = "form-control",
                placeholder = "Patient"
            })
        </div>
        <div style="float: right">
            <button type="submit" class="btn btn-success">Save</button>
        </div>
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-danger alert-dismissible" style="width: 50%">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h5><i class="icon fas fa-ban"></i> Alert!</h5>
                @ViewBag.Message
            </div>
        }
    </div>
}