@model System.Collections.Generic.List<MiniHbys.Entity.Patient>

@{
    ViewBag.Title = "Patients By Birth Date";
    Layout = "_Layout";
}

<table class="table">
    <tr>
        <th>Patient Name</th>
        <th>Patient Surname</th>
        <th>Patient Gender</th>
        <th>Patient BirthDate</th>
        <th>Patient Blood Group</th>
    </tr>

    @foreach (var patient in Model)
    {
        <tr>
            <td>
                @patient.PatientName
            </td>
            <td>
                @patient.PatientSurname
            </td>
            <td>
                @patient.PatientGender
            </td>
            <td>
                @patient.BirthDate
            </td>
            <td>
                @patient.BloodGroup
            </td>
        </tr>
    }
</table>
<div style="padding: 10%">
    @Html.ActionLink(linkText:"Export",actionName:"ExportReport",controllerName:"Report",routeValues:new {reportName = "PatientsByBirthDateReport"},
    htmlAttributes:new { @class="btn btn-success"})
</div>